<div class="container">
    <div class="row">
        <div class="column text-center">
            <img src="img/jett.jpg" alt="Jett" class="img-thumbnail rounded-circle" width="200">
            <h1 class="display-4">Gol D. Habil</h1>
            <p class="lead">Pemimpi</p>
        </div>
    </div>
</div>